* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../assets/background.png');
  background-size: cover;
}
/* Main App component */
#app {
  position: relative;
}

/* Header */
header {
  margin: 0 auto;
  min-height: 60px;
  color: #134066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  position: relative;
}
h1 {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 0;
}
header .timer {
  min-width: 90px;
  padding: 0;
  font-size: 3rem;
  font-family: 'Delicious Handrawn';
}
.characters-icon {
  background-color: #134066;
  border-radius: 50%;
  border: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  color: #c8a6ff;
  font-size: 2rem;
  font-family: 'Delicious Handrawn', cursive;
}
/* Header - Characters drop-down toggled on */
.header--character-pictures {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  right: 5%;
  background-color: #c9efff;
  border: 4px solid #436791;
  border-top: none;
}
.header--character-pictures div {
  font-family: 'Delicious Handrawn';
  color: #2c3c48;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 120px;
  font-size: small;
  text-align: center;
  padding: 0 8px;
}
@media screen and (min-width: 650px) {
  .header--character-pictures div {
    height: 6vw;
    width: 13vw;
    font-size: 1.4vw;
  }
}
.header--character-pictures .character-face {
  height: 90%;
}

/* Game Image Component */
#image {
  width: 100%;
  border-top: 4px solid #436791;
  border-bottom: 4px solid #436791;
}

/* PopUp */
.pop-up {
  border: 1px solid #2c3c48;
  border-width: 4px 1px;
  background-color: #caf2ff;
  position: absolute;
  min-width: 10%;
  font-size: 2vw;
  font-family: 'Delicious Handrawn';
}
.pop-up li {
  list-style-type: none;
  padding: 3px;
  padding: 3px 10px;
  cursor: pointer;
}
.pop-up li:hover {
  background-color: #2c3c4844;
}
@media screen and (max-width: 600px) {
  .pop-up {
    font-size: 17px;
  }
}
/* Modal */
#modal {
  background-color: #2c3c489c;
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20%;
  color: #134066;
}
/* Name input */
.nameInput {
  background-color: #c9efff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 6px;
  font-family: 'Delicious Handrawn';
  font-size: 1.5rem;
}
.nameInput input {
  border: none;
  margin-bottom: 4%;
  height: 30px;
  font-size: 1.5rem;
  font-family: 'Delicious Handrawn';
  text-align: center;
  color: #134066;
}
.nameInput input:focus {
  outline: none;
}
.nameInput button {
  border: none;
  font-size: 1.3rem;
  color: white;
  background-color: #134066;
  padding: 6px 10px;
  cursor: pointer;
}
@media screen and (min-width: 601px) {
  #modal {
    height: calc(100vh + 60px);
    padding-top: 20vh;
  }
  .nameInput,
  .nameInput input {
    font-size: 2rem;
  }
}
/* Scores */
.scores {
  background-color: #c9efff;
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.scores .scores-list li {
  margin-bottom: 3px;
}
@media screen and (min-width: 601px) {
  .scores {
    padding: 1% 3%;
    font-size: 1.4rem;
  }
}
.score-row .time {
  justify-self: end;
  align-self: end;
  /* color: red; */
}
