* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../assets/background.png');
  background-size: cover;
}
/* Main App component */
#app {
  position: relative;
}

/* Header */
header {
  margin: 0 auto;
  min-height: 60px;
  color: #134066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  position: relative;
}
h1 {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 0;
}
header .timer {
  min-width: 90px;
  padding: 0;
  font-size: 3rem;
  font-family: 'Delicious Handrawn';
}
.characters-icon {
  background-color: #134066;
  border-radius: 50%;
  border: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  color: #c8a6ff;
  font-size: 2rem;
  font-family: 'Delicious Handrawn', cursive;
}
/* Header - Characters drop-down toggled on */
.header--character-pictures {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  right: 5%;
  background-color: #c9efff;
  border: 4px solid #436791;
  border-top: none;
}
.header--character-pictures div {
  font-family: 'Delicious Handrawn';
  color: #2c3c48;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 120px;
  font-size: small;
  text-align: center;
  padding: 0 8px;
}
@media screen and (min-width: 650px) {
  .header--character-pictures div {
    height: 6vw;
    width: 13vw;
    font-size: 1.4vw;
  }
}
.header--character-pictures .character-face {
  height: 90%;
}

/* Game Image Component */
#image {
  width: 100%;
  border-top: 4px solid #436791;
  border-bottom: 4px solid #436791;
}

/* PopUp */
.pop-up {
  border: 1px solid #2c3c48;
  border-width: 4px 1px;
  background-color: #caf2ff;
  position: absolute;
  min-width: 10%;
  font-size: 2vw;
  font-family: 'Delicious Handrawn';
}
.pop-up li {
  list-style-type: none;
  padding: 3px;
  padding: 3px 10px;
  cursor: pointer;
}
.pop-up li:hover {
  background-color: #2c3c4844;
}
@media screen and (max-width: 600px) {
  .pop-up {
    font-size: 17px;
  }
}
